#img-1
{
    position: absolute;
    margin-left: 0%;
}

#book-p
{
    position: relative;
    color: $main_color;
    margin-left: 12%;
    font-size: 0.3em;
}
#root
{
    margin-top: 2%;
    margin-left: 5%;

}
.hr1
{
    margin-left: 5%;
}
.p-1
{
    margin-left: 25%;
    color: $main_color;
}
.p-2
{
    margin: 0 auto;

}
.p-3
{
    text-align: center;
 
}  